body {
    background-image: url("../images/body-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#top-line, #removePadding {
    font-size: 25px;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

header, footer, .card {
    opacity: 0.8;
}

.card-text {
    font-size: 18px;
}

.question-display, #button-display, #start {
    font-size: 20px;
}

.question-display p, #message, #score, #correct, #incorrect, .areYouRight, #initials, #hsTitle {
    color: antiquewhite;
}
